---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
Site Name: {{ metadata.title }}
Maintainer: {{ metadata.author }}
Converter: Codex

/* THEME CREDIT */
Original Theme: TryGhost Massively
Repository: https://github.com/TryGhost/Massively

/* TECHNOLOGY */
Built with: Eleventy 3.1.5, Handlebars, Luxon, ESM JavaScript
